<div class="alert alert-danger alert-block fade in alert-dismissable" ng-if="problem.graders.invalid && test.acl_edit">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Input or output statement is not defined. End user will not see submission form.
</div>
<div class="row">
	<!-- Right Column -->
	<div class="col-md-12">
		<div class="row">
			<!-- Title & Description -->
			<div class="col-md-12">
				<div class="panel bg-dark">
					<div class="panel-body">
						<div class="pull-right" ng-if="test.acl_edit">
							<button ng-click="toggleEdit()" class="btn btn-default" ng-class="{active: editProblem}"><span class="fa fa-edit"></span> Edit</button>
						</div>
						<h3 class="problem-title">{{problem.name}}</h3>
						<small><span ng-if="problem.point>0">{{problem.point}} points</span><span ng-if="problem.creator">&nbsp; | by {{problem.creator}}</span></small>
					</div>
				</div>
				<!-- Editing Panel -->
				<div class="well" ng-if="editProblem">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">ID</label>
							<div class="col-sm-2">
								<p class="form-control-static" ng-bind="problem.id"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-required ng-model="problem.name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">By</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="problem.creator">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Points</label>
							<div class="col-sm-3">
								<div class="input-group">
									<input type="number" value="10" class="form-control" ng-model="problem.point">
									<span class="input-group-addon">pts.</span>
								</div>
							</div>
						</div>
						<legend>Limitations</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">Runner</label>
							<div class="col-sm-10 suffix">
								<select class="form-control" ng-model="problem.comparator">
									<option value="hash" selected>Grader</option>
									<option value="junit">JUnit</option>
								</select>
								<div class="help-block" ng-show="problem.comparator == 'junit'">
									Allowed language must set to Java only.
								</div>
							</div>
						</div>
						<div class="form-group" ng-show="problem.comparator == 'hash'">
							<label class="col-sm-2 control-label">Time limit</label>
							<div class="col-sm-3">
								<div class="input-group">
									<input type="number" ng-model="problem.graders.grader.time_limit" class="form-control" min="1">
									<span class="input-group-addon">seconds</span>
								</div>
							</div>
						</div>
						<div class="form-group" ng-show="problem.comparator == 'hash'">
							<label class="col-sm-2 control-label">Memory limit</label>
							<div class="col-sm-3">
								<div class="input-group">
									<input type="number" ng-model="problem.graders.grader.memory_limit" class="form-control" min="32">
									<span class="input-group-addon">MB</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Allowed</label>
							<div class="col-sm-10">
								<select multiple ui-select2="{multiple: true,simple_tags:true}" ng-model="problem.graders.grader.allowed">
									<option value="py">Python 2</option>
									<option value="py3">Python 3</option>
									<option value="php">PHP</option>
									<option value="java">Java</option>
									<option value="js">JavaScript</option>
									<option value="rb">Ruby</option>
									<option value="c">C</option>
									<option value="cpp">C++</option>
									<option value="cs">C#<option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
								<textarea class="form-control" ng-model="problem.description" rows="20"></textarea>
								<div class="help-block">
									Markdown. Use #### for headings.<br>
									Test case markup:
									<pre>&lt;div class="example row"&gt;
	&lt;div class="col-md-6"&gt;&lt;strong&gt;Example input&lt;/strong&gt;&lt;pre&gt;Madoka&lt;/pre&gt;&lt;/div&gt;
	&lt;div class="col-md-6"&gt;&lt;strong&gt;Example output&lt;/strong&gt;&lt;pre&gt;Hello, Madoka&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;</pre>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Input Specification</label>
							<div class="col-sm-10">
								<textarea class="form-control" ng-model="problem.input_spec" rows="5"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Output Specification</label>
							<div class="col-sm-10">
								<textarea class="form-control" ng-model="problem.output_spec" rows="5"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<input type="submit" class="btn btn-success btn-block" value="Save" ng-click="saveProblem()">
							</div>
						</div>
					</form>
					<form enctype="multipart/form-data" method="POST" action="{{admin_submission_url}}">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" ng-show="problem.comparator == 'hash'">Input</label>
									<label class="control-label" ng-show="problem.comparator == 'junit'">JUnit</label>
									<input class="form-control" type="file" name="input">
								</div>
								<div class="row">
									<div class="col-sm-6">
										<a ng-if="problem.input_lang" class="btn btn-default btn-block" ng-href="/server/codeload/input/{{problem.id}}">
											<span class="glyphicon glyphicon-download"></span> Download <!-- .{{problem.input_lang}} -->
										</a>
									</div>
									<div class="col-sm-6">
										<a ng-if="problem.input_lang" class="btn btn-default btn-block" ng-href="/server/codeload/input/{{problem.id}}?view=1">
											<span class="glyphicon glyphicon-eye-open"></span> View <!-- .{{problem.input_lang}} -->
										</a>
									</div>
								</div><br>
								<div class="block-help alert alert-info alert-bold-border" ng-show="problem.comparator == 'hash'">
									Supported: <span class="label label-default lang">py</span>
									<span class="label label-default lang">php</span>
									<span class="label label-default lang">java</span><br>
									<a ui-sref="inputhelp" class="alert-link">How to write input code</a>
								</div>
								<div class="block-help alert alert-info alert-bold-border" ng-show="problem.comparator == 'junit'">
									Input JUnit test code here. <br>Grader will compile submission code before compiling JUnit.
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" ng-show="problem.comparator == 'hash'">Output</label>
									<label class="control-label" ng-show="problem.comparator == 'junit'">Jar</label>
									<input class="form-control" type="file" name="output">
								</div>
								<div class="row">
									<div class="col-sm-6">
										<a ng-if="problem.output_lang" class="btn btn-default btn-block" ng-href="/server/codeload/output/{{problem.id}}">
											<span class="glyphicon glyphicon-download"></span> Download <!--.{{problem.output_lang}}-->
										</a>
									</div>
									<div class="col-sm-6">
										<a ng-if="problem.output_lang && problem.output_lang != 'jar'" class="btn btn-default btn-block" ng-href="/server/codeload/output/{{problem.id}}?view=1">
											<span class="glyphicon glyphicon-eye-open"></span> View <!--.{{problem.output_lang}}-->
										</a>
									</div>
								</div><br>
								<div class="block-help alert alert-info alert-bold-border" ng-show="problem.comparator == 'hash'">
									Write the code as you would send it to the grader.<br>This code does not confines to limits set in the grader option.
								</div>
								<div class="block-help alert alert-info alert-bold-border" ng-show="problem.comparator == 'junit'">
									Optionally put a jar file here to use in classpath. Both test code and user's submission are allowed to use classes from this jar.
								</div>
							</div>
							<div class="col-xs-12">
								<input type="submit" value="Upload" class="btn btn-block btn-info">
							</div>
						</div>
					</form>
				</div>
				<!-- /Editing Panel -->
				<div class="panel">
				  <div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-file-text-o icon-circle icon-xs icon-info"></i> Description</h3>
				  </div>
				  <!-- REAL PROB.DES FOR DEBUG -->
				  <!--<div class="problem-desc" btf-markdown="problem.description"></div> -->
				  <!-- -->
				  <div class="panel-body">
				  	<div class="problem-desc" btf-markdown="problem.description"></div>
					<!-- <p>ลีนุกซ์ไฮดรอลิกเรียลไทม์อัพเดต เทฟลอนเซิร์ฟเวอร์แคมฟร็อกเมล อัลตราซาวนด์วีก้าอัพโหลดเอทิลีน วินโดวส์อัปโหลด อัลตราซาวด์เซ็กเมนต์โซนาร์โซลูชันเวิร์กสเตชัน ซีเนอร์บิทฟอนต์ เอทานอลดาวน์โหลดเอาต์พุตเน็ตบุ๊คโพลิเมอร์ เน็ตฟอนต์โค้ด เซ็กเตอร์ดีวีดีแคมฟรอกโมดูล แมคทรานแซกชั่นเอาต์พุต วินโดวส์อีเมล เอาท์พุตฟลาโวนอยด์เวิร์กสเตชันบลูเรย์ โน้ตบุคอาร์กิวเมนต์โค้ด ไคโตซาน โมเด็มสเปซ รีเฟรช</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae veritatis natus, eligendi, dolores dolore molestiae modi obcaecati nesciunt suscipit voluptatem, corporis aspernatur in facilis impedit cupiditate. Quos expedita repellendus dolorem, nesciunt fugit, fugiat vitae reprehenderit porro aliquam, voluptates veritatis ab deleniti assumenda ex quisquam dicta animi. Facere quam veritatis reprehenderit ipsa itaque libero molestias, vitae molestiae facilis error et obcaecati, possimus enim quia quidem natus illum adipisci odit quos sit laudantium iste alias optio repellat sequi. Reprehenderit odio officia animi, minima ipsum dolore id veritatis qui facilis, iusto esse! Cum fuga dignissimos totam mollitia. Incidunt, tenetur. Assumenda delectus, fugit perferendis.</p> -->
				  </div>
				</div>
			</div>
			<!-- /Title & Description -->

			<!-- Input Spec -->
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-sign-in icon-circle icon-xs icon-info"></i> Input Specification</h3>
				  </div>
				  <div class="panel-body">
					<p ng-if"problem.input_spec" ng-bind="problem.input_spec"></p>
				  </div>
				</div>
			</div>
			<!-- /Input Spec -->

			<!-- Output Spec -->
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-sign-out icon-circle icon-xs icon-info"></i> Output Specification</h3>
				  </div>
				  <div class="panel-body">
					<p ng-if"problem.output_spec" ng-bind="problem.output_spec"></p>
				  </div>
				</div>
			</div>
			<!-- /Output Spec -->

			<!-- Sample Cases -->
			<div class="col-md-12">
				<div class="panel">
				  <div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-file-text-o icon-circle icon-xs icon-info"></i> Sample Cases</h3>
				  </div>
				  <div class="panel-body">
					<div class="table-responsive">
							<table class="table">
								<thead>
									<th width="50%"><i class="fa fa-sign-in"></i> Sample Input</th>
									<th><i class="fa fa-sign-out"></i> Sample Output</th>
								</thead>
								<tbody>
									<tr>
										<td><pre>5 10</pre></td>
										<td><pre>Aimmmmm<br>Mojiiiiiiiiii</pre></td>
									</tr>
									<tr>
										<td><pre>5 10</pre></td>
										<td><pre>Aimmmmm<br>Mojiiiiiiiiii</pre></td>
									</tr>
								</tbody>
							</table>
						</div>
				  </div>
				</div>
			</div>
			<!-- /Sample Cases -->

			<!-- Submission & Limit -->
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-upload icon-circle icon-xs icon-info"></i> Submission</h3>
				  </div>
				  <div class="panel-body">
					<div class="well" ng-if="problem.graders.invalid && (test.readonly||test.acl_edit) && user.id">This problem is not open yet.</div>
					<div class="table-responsive" ng-if="!problem.graders.invalid && (!test.readonly||test.acl_edit) && user.id">
							<table class="table">
								<tr>
									<td class="text-right" width="110px"><strong>Languages</strong></td>
									<td>
										<span ng-repeat="lang in problem.graders.grader.allowed">
											<span ng-bind="languages[lang]" class="label label-default"></span> 
										</span> 
										<!-- TODO fix space betweet <span> -->
									</td>
								</tr>
								<tr ng-if="problem.graders.grader.time_limit">
									<td class="text-right"><strong>Time limit</strong></td>
									<td ng-if="problem.graders.grader.time_limit">{{problem.graders.grader.time_limit}} seconds</td>
								</tr>
								<tr ng-if="problem.graders.grader.memory_limit">
									<td class="text-right"><strong>Memory limit</strong></td>
									<td ng-if="problem.graders.grader.memory_limit">{{problem.graders.grader.memory_limit}} MB</td>
								</tr>
							</table>
					</div>
					<form action="{{submission_url}}" enctype="multipart/form-data" method="POST" ng-if="!problem.graders.invalid && (!test.readonly||test.acl_edit) && user.id">
							<div class="form-group">
								<input type="file" name="source" class="form-control" required>
							</div>
							<input type="submit" value="Upload" class="btn btn-success btn-block">
						</form>
				  </div>
				</div>
			</div>
			<!-- /Submission & Limit -->

			<!-- Prev Submissions -->
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-history icon-circle icon-xs icon-info"></i> Previous Submissions</h3>
				  </div>
				  <div class="panel-body" ng-if="user && submissions.length == 0">
					<div class="well">You don't have any previous submissions!</div>
				  </div>
				  <div class="panel-body" ng-if="!!user && submissions.length > 0">
					<div class="form-group">
						<select class="form-control" ng-model="$parent.viewsub" ng-options="sub.line group by sub.language for sub in submissions track by sub.id">
						</select>
					</div>
					<dl class="dl-horizontal">
							<dt>Submitted</dt>
							<dd am-time-ago="viewsub.created_at" am-format="X"></dd>
							<dt ng-if="viewsub.state<2">State</dt>
							<dd ng-if="viewsub.state==1">Grading</dd>
							<dd ng-if="viewsub.state==0">In queue</dd>
							<dt ng-if="viewsub.state==2">Graded</dt>
							<dd ng-if="viewsub.state==2" am-time-ago="viewsub.updated_at" am-format="X"></dd>
							<dt>Result</dt>
							<dd ng-bind="viewsub.result"></dd>
							<dt ng-if="viewsub.error">Last error</dt>
							<dd ng-if="viewsub.error"><pre ng-bind="viewsub.error"></pre></dd>
						</dl>
						<div class="text-center code-download">
							<a class="btn btn-default btn-sm" ng-href="/server/codeload/sub/{{viewsub.id}}">
								<span class="glyphicon glyphicon-download"></span> Download .py
							</a> 
							<a class="btn btn-default btn-sm" ng-href="/server/codeload/sub/{{viewsub.id}}?view=1" target="_blank">
								<span class="glyphicon glyphicon-eye-open"></span> View .py
							</a>
						</div>
						<legend><h5>Legends</h5></legend>
						<span class="label label-success">P</span> Passed | 
						<span class="label label-warning">F</span> Failed | 
						<span class="label label-default">T</span> Timeout | 
						<span class="label label-danger">E</span> Error
					</div>
				</div>
			</div>
			<!-- /Prev Submissions -->
		</div>
	</div><!-- /Right Column -->
</div>