<div class="alert alert-success alert-block fade in alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Please wait while your submission is being judged
</div>
<div class="alert alert-danger alert-block fade in alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  File type is not allowed
</div>
<div class="row">
	<!-- Left Column -->
	<div class="col-md-3">
		<div class="list-group">
		  <a href="#" class="list-group-item active">
		  	<i class="fa fa-check text-success"></i> Lorem ipsum dolor sit amet. <span class="pull-right">(100)</span>
		  </a>
		  <a href="#" class="list-group-item">
		  	<i class="fa fa-check text-success"></i> Dapibus ac facilisis in <span class="pull-right">(100)</span>
		  </a>
		  <a href="#" class="list-group-item">Morbi leo risus <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Vestibulum at eros <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Vestibulum at eros <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Vestibulum at eros <span class="pull-right">(100)</span></a>
		</div>
	</div><!-- /Left Column -->

	<!-- Right Column -->
	<div class="col-md-9">
		<div class="row">
			<!-- Title & Description -->
			<div class="col-md-12">
				<div class="panel bg-dark">
					<div class="panel-body">
						<div class="pull-right">
							<button ng-click="toggleEdit()" class="btn btn-default" ng-class="{active: editProblem}"><span class="fa fa-edit"></span> Edit</button>
						</div>
						<h3 class="problem-title">Lorem ipsum dolor sit amet.</h3>
						<small>100 Points | By iTon</small>
					</div>
				</div>
				<!-- Editing Panel -->
				<div class="well">
					<form action="#" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">ID</label>
							<div class="col-sm-2">
								<p class="form-control-static" ng-bind="problem.id"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">By</label>
							<div class="col-sm-10">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Points</label>
							<div class="col-sm-3">
								<div class="input-group">
									<input type="number" value="10" class="form-control">
									<span class="input-group-addon">pts.</span>
								</div>
							</div>
						</div>
						<legend>Limitations</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">Runner</label>
							<div class="col-sm-10 suffix">
								<select class="form-control" ng-model="problem.comparator">
									<option value="hash" selected>Grader</option>
									<option value="junit">JUnit</option>
								</select>
								<div class="help-block" ng-show="problem.comparator == 'junit'">
									Allowed language must set to Java only.
								</div>
							</div>
						</div>
						<div class="form-group" ng-show="problem.comparator == 'hash'">
							<label class="col-sm-2 control-label">Time limit</label>
							<div class="col-sm-3">
								<div class="input-group">
									<input type="number" ng-model="problem.graders.grader.time_limit" class="form-control" min="1">
									<span class="input-group-addon">seconds</span>
								</div>
							</div>
						</div>
						<div class="form-group" ng-show="problem.comparator == 'hash'">
							<label class="col-sm-2 control-label">Memory limit</label>
							<div class="col-sm-3">
								<div class="input-group">
									<input type="number" ng-model="problem.graders.grader.memory_limit" class="form-control" min="32">
									<span class="input-group-addon">MB</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Allowed</label>
							<div class="col-sm-10">
								<select multiple ui-select2="{multiple: true,simple_tags:true}" ng-model="problem.graders.grader.allowed">
									<option value="py">Python 2</option>
									<option value="py3">Python 3</option>
									<option value="php">PHP</option>
									<option value="java">Java</option>
									<option value="js">JavaScript</option>
									<option value="rb">Ruby</option>
									<option value="c">C</option>
									<option value="cpp">C++</option>
									<option value="cs">C#<option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
								<textarea class="form-control" ng-model="problem.description" rows="20"></textarea>
								<div class="help-block">
									Markdown. Use #### for headings.<br>
									Test case markup:
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<input type="submit" class="btn btn-success btn-block" value="Save">
							</div>
						</div>
					</form>
					<form enctype="multipart/form-data" method="POST" action="{{admin_submission_url}}">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" ng-show="problem.comparator == 'hash'">Input</label>
									<label class="control-label" ng-show="problem.comparator == 'junit'">JUnit</label>
									<input class="form-control" type="file" name="input">
								</div>
								<div class="row">
									<div class="col-sm-6">
										<a ng-if="problem.input_lang" class="btn btn-default btn-block" ng-href="/server/codeload/input/{{problem.id}}">
											<span class="glyphicon glyphicon-download"></span> Download <!-- .{{problem.input_lang}} -->
										</a>
									</div>
									<div class="col-sm-6">
										<a ng-if="problem.input_lang" class="btn btn-default btn-block" ng-href="/server/codeload/input/{{problem.id}}?view=1">
											<span class="glyphicon glyphicon-eye-open"></span> View <!-- .{{problem.input_lang}} -->
										</a>
									</div>
								</div><br>
								<div class="block-help alert alert-info alert-bold-border" ng-show="problem.comparator == 'hash'">
									Supported: <span class="label label-default lang">py</span>
									<span class="label label-default lang">php</span>
									<span class="label label-default lang">java</span><br>
									<a href="#" ui-sref="inputhelp" class="alert-link">How to write input code</a>
									<!-- TODO: Delete ="#" from a -->
								</div>
								<div class="block-help alert alert-info alert-bold-border" ng-show="problem.comparator == 'junit'">
									Input JUnit test code here. <br>Grader will compile submission code before compiling JUnit.
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" ng-show="problem.comparator == 'hash'">Output</label>
									<label class="control-label" ng-show="problem.comparator == 'junit'">Jar</label>
									<input class="form-control" type="file" name="output">
								</div>
								<div class="row">
									<div class="col-sm-6">
										<a ng-if="problem.output_lang" class="btn btn-default btn-block" ng-href="/server/codeload/output/{{problem.id}}">
											<span class="glyphicon glyphicon-download"></span> Download <!--.{{problem.output_lang}}-->
										</a>
									</div>
									<div class="col-sm-6">
										<a ng-if="problem.output_lang && problem.output_lang != 'jar'" class="btn btn-default btn-block" ng-href="/server/codeload/output/{{problem.id}}?view=1">
											<span class="glyphicon glyphicon-eye-open"></span> View <!--.{{problem.output_lang}}-->
										</a>
									</div>
								</div><br>
								<div class="block-help alert alert-info alert-bold-border" ng-show="problem.comparator == 'hash'">
									Write the code as you would send it to the grader.<br>This code does not confines to limits set in the grader option.
								</div>
								<div class="block-help alert alert-info alert-bold-border" ng-show="problem.comparator == 'junit'">
									Optionally put a jar file here to use in classpath. Both test code and user's submission are allowed to use classes from this jar.
								</div>
							</div>
							<div class="col-xs-12">
								<input type="submit" value="Upload" class="btn btn-block btn-info">
							</div>
						</div>
					</form>
				</div>
				<!-- /Editing Panel -->
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-file-text-o icon-circle icon-xs icon-info"></i> Description</h3>
				  </div>
				  <div class="panel-body">
				  	<p>ลีนุกซ์ไฮดรอลิกเรียลไทม์อัพเดต เทฟลอนเซิร์ฟเวอร์แคมฟร็อกเมล อัลตราซาวนด์วีก้าอัพโหลดเอทิลีน วินโดวส์อัปโหลด อัลตราซาวด์เซ็กเมนต์โซนาร์โซลูชันเวิร์กสเตชัน ซีเนอร์บิทฟอนต์ เอทานอลดาวน์โหลดเอาต์พุตเน็ตบุ๊คโพลิเมอร์ เน็ตฟอนต์โค้ด เซ็กเตอร์ดีวีดีแคมฟรอกโมดูล แมคทรานแซกชั่นเอาต์พุต วินโดวส์อีเมล เอาท์พุตฟลาโวนอยด์เวิร์กสเตชันบลูเรย์ โน้ตบุคอาร์กิวเมนต์โค้ด ไคโตซาน โมเด็มสเปซ รีเฟรช</p>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae veritatis natus, eligendi, dolores dolore molestiae modi obcaecati nesciunt suscipit voluptatem, corporis aspernatur in facilis impedit cupiditate. Quos expedita repellendus dolorem, nesciunt fugit, fugiat vitae reprehenderit porro aliquam, voluptates veritatis ab deleniti assumenda ex quisquam dicta animi. Facere quam veritatis reprehenderit ipsa itaque libero molestias, vitae molestiae facilis error et obcaecati, possimus enim quia quidem natus illum adipisci odit quos sit laudantium iste alias optio repellat sequi. Reprehenderit odio officia animi, minima ipsum dolore id veritatis qui facilis, iusto esse! Cum fuga dignissimos totam mollitia. Incidunt, tenetur. Assumenda delectus, fugit perferendis.</p>
				  </div>
				</div>
			</div>
			<!-- /Title & Description -->

			<!-- Input Spec -->
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-sign-in icon-circle icon-xs icon-info"></i> Input Specification</h3>
				  </div>
				  <div class="panel-body">
				  	<p>ลีนุกซ์ไฮดรอลิกเรียลไทม์อัพเดต เทฟลอนเซิร์ฟเวอร์แคมฟร็อกเมล อัลตราซาวนด์วีก้าอัพโหลดเอทิลีน วินโดวส์อัปโหลด อัลตราซาวด์เซ็กเมนต์โซนาร์โซลูชันเวิร์กสเตชัน ซีเนอร์บิทฟอนต์</p>
				  </div>
				</div>
			</div>
			<!-- /Input Spec -->

			<!-- Output Spec -->
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-sign-out icon-circle icon-xs icon-info"></i> Output Specification</h3>
				  </div>
				  <div class="panel-body">
				  	<p>ลีนุกซ์ไฮดรอลิกเรียลไทม์อัพเดต เทฟลอนเซิร์ฟเวอร์แคมฟร็อกเมล อัลตราซาวนด์วีก้าอัพโหลดเอทิลีน วินโดวส์อัปโหลด อัลตราซาวด์เซ็กเมนต์โซนาร์โซลูชันเวิร์กสเตชัน ซีเนอร์บิทฟอนต์</p>
				  </div>
				</div>
			</div>
			<!-- /Output Spec -->

			<!-- Sample Cases -->
			<div class="col-md-12">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-file-text-o icon-circle icon-xs icon-info"></i> Sample Cases</h3>
				  </div>
				  <div class="panel-body">
				  	<div class="table-responsive">
							<table class="table">
								<thead>
									<th width="50%"><i class="fa fa-sign-in"></i> Sample Input</th>
									<th><i class="fa fa-sign-out"></i> Sample Output</th>
								</thead>
								<tbody>
									<tr>
										<td><pre>5 10</pre></td>
										<td><pre>Aimmmmm<br>Mojiiiiiiiiii</pre></td>
									</tr>
									<tr>
										<td><pre>5 10</pre></td>
										<td><pre>Aimmmmm<br>Mojiiiiiiiiii</pre></td>
									</tr>
								</tbody>
							</table>
						</div>
				  </div>
				</div>
			</div>
			<!-- /Sample Cases -->

			<!-- Submission & Limit -->
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-upload icon-circle icon-xs icon-info"></i> Submission</h3>
				  </div>
				  <div class="panel-body">
		  			<div class="table-responsive">
							<table class="table">
								<tr>
									<td class="text-right" width="110px"><strong>Languages</strong></td>
									<td>
										<span class="label label-default">Python 2</span>
										<span class="label label-default">Python 3</span>
										<span class="label label-default">PHP</span>
										<span class="label label-default">Javascript</span>
										<span class="label label-default">Java</span>
									</td>
								</tr>
								<tr>
									<td class="text-right"><strong>Time limit</strong></td>
									<td>10 seconds</td>
								</tr>
								<tr>
									<td class="text-right"><strong>Memory limit</strong></td>
									<td>32 MB</td>
								</tr>
							</table>
			  		</div>
			  		<form action="{{submission_url}}" enctype="multipart/form-data" method="POST">
							<div class="form-group">
								<input type="file" name="source" class="form-control" required>
							</div>
							<input type="submit" value="Upload" class="btn btn-success btn-block">
						</form>
				  </div>
				</div>
			</div>
			<!-- /Submission & Limit -->

			<!-- Prev Submissions -->
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-history icon-circle icon-xs icon-info"></i> Previous Submissions</h3>
				  </div>
				  <div class="panel-body">
				  	<div class="form-group">
							<select class="form-control">
								<optgroup label="Python 2">
									<option value="22">#22 Python 2 at Sep 30, 2014 3:43:21 PM [✔ P-4]</option>
									<option value="11">#11 Python 2 at Sep 29, 2014 10:45:38 PM [✔ P-4]</option>
								</optgroup>
							</select>
						</div>
		  			<dl class="dl-horizontal">
							<dt>Submitted</dt>
							<dd>4 minutes ago</dd>
							<dt >State</dt>
							<dd >In queue</dd>
							<dt>Result</dt>
							<dd>PPPPP</dd>
							<dt>Last error</dt>
							<dd><pre>ValueError</pre></dd>
						</dl>
						<div class="text-center code-download">
							<a class="btn btn-default btn-sm" ng-href="/server/codeload/sub/{{viewsub.id}}">
								<span class="glyphicon glyphicon-download"></span> Download .py
							</a> 
							<a class="btn btn-default btn-sm" ng-href="/server/codeload/sub/{{viewsub.id}}?view=1" target="_blank">
								<span class="glyphicon glyphicon-eye-open"></span> View .py
							</a>
						</div>
						<legend><h5>Legends</h5></legend>
						<span class="label label-success">P</span> Passed | 
						<span class="label label-warning">F</span> Failed | 
						<span class="label label-default">T</span> Timeout | 
						<span class="label label-danger">E</span> Error
					</div>
				</div>
			</div>
			<!-- /Prev Submissions -->
		</div>
	</div><!-- /Right Column -->
</div>