<div class="alert alert-success alert-block fade in alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Please wait while your submission is being judged
</div>
<div class="alert alert-danger alert-block fade in alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  File type is not allowed
</div>
<div class="row">
	<div class="col-md-3">
		<div class="list-group">
		  <a href="#" class="list-group-item active">
		  	<i class="fa fa-check text-success"></i> Lorem ipsum dolor sit amet. <span class="pull-right">(100)</span>
		  </a>
		  <a href="#" class="list-group-item">
		  	<i class="fa fa-check text-success"></i> Dapibus ac facilisis in <span class="pull-right">(100)</span>
		  </a>
		  <a href="#" class="list-group-item">Morbi leo risus <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Vestibulum at eros <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Vestibulum at eros <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac <span class="pull-right">(100)</span></a>
		  <a href="#" class="list-group-item">Vestibulum at eros <span class="pull-right">(100)</span></a>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div class="panel bg-dark">
					<div class="panel-body">
						<h3 class="problem-title">Lorem ipsum dolor sit amet.</h3>
						<small>100 Points | By iTon</small>
					</div>
				</div>
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-file-text-o icon-circle icon-xs icon-info"></i> Description</h3>
				  </div>
				  <div class="panel-body">
				  	<p>ลีนุกซ์ไฮดรอลิกเรียลไทม์อัพเดต เทฟลอนเซิร์ฟเวอร์แคมฟร็อกเมล อัลตราซาวนด์วีก้าอัพโหลดเอทิลีน วินโดวส์อัปโหลด อัลตราซาวด์เซ็กเมนต์โซนาร์โซลูชันเวิร์กสเตชัน ซีเนอร์บิทฟอนต์ เอทานอลดาวน์โหลดเอาต์พุตเน็ตบุ๊คโพลิเมอร์ เน็ตฟอนต์โค้ด เซ็กเตอร์ดีวีดีแคมฟรอกโมดูล แมคทรานแซกชั่นเอาต์พุต วินโดวส์อีเมล เอาท์พุตฟลาโวนอยด์เวิร์กสเตชันบลูเรย์ โน้ตบุคอาร์กิวเมนต์โค้ด ไคโตซาน โมเด็มสเปซ รีเฟรช</p>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae veritatis natus, eligendi, dolores dolore molestiae modi obcaecati nesciunt suscipit voluptatem, corporis aspernatur in facilis impedit cupiditate. Quos expedita repellendus dolorem, nesciunt fugit, fugiat vitae reprehenderit porro aliquam, voluptates veritatis ab deleniti assumenda ex quisquam dicta animi. Facere quam veritatis reprehenderit ipsa itaque libero molestias, vitae molestiae facilis error et obcaecati, possimus enim quia quidem natus illum adipisci odit quos sit laudantium iste alias optio repellat sequi. Reprehenderit odio officia animi, minima ipsum dolore id veritatis qui facilis, iusto esse! Cum fuga dignissimos totam mollitia. Incidunt, tenetur. Assumenda delectus, fugit perferendis.</p>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-sign-in icon-circle icon-xs icon-info"></i> Input Specification</h3>
				  </div>
				  <div class="panel-body">
				  	<p>ลีนุกซ์ไฮดรอลิกเรียลไทม์อัพเดต เทฟลอนเซิร์ฟเวอร์แคมฟร็อกเมล อัลตราซาวนด์วีก้าอัพโหลดเอทิลีน วินโดวส์อัปโหลด อัลตราซาวด์เซ็กเมนต์โซนาร์โซลูชันเวิร์กสเตชัน ซีเนอร์บิทฟอนต์</p>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-sign-out icon-circle icon-xs icon-info"></i> Output Specification</h3>
				  </div>
				  <div class="panel-body">
				  	<p>ลีนุกซ์ไฮดรอลิกเรียลไทม์อัพเดต เทฟลอนเซิร์ฟเวอร์แคมฟร็อกเมล อัลตราซาวนด์วีก้าอัพโหลดเอทิลีน วินโดวส์อัปโหลด อัลตราซาวด์เซ็กเมนต์โซนาร์โซลูชันเวิร์กสเตชัน ซีเนอร์บิทฟอนต์</p>
				  </div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-file-text-o icon-circle icon-xs icon-info"></i> Sample Cases</h3>
				  </div>
				  <div class="panel-body">
				  	<div class="table-responsive">
							<table class="table">
								<thead>
									<th width="50%"><i class="fa fa-sign-in"></i> Sample Input</th>
									<th><i class="fa fa-sign-out"></i> Sample Output</th>
								</thead>
								<tbody>
									<tr>
										<td><pre>5 10</pre></td>
										<td><pre>Aimmmmm<br>Mojiiiiiiiiii</pre></td>
									</tr>
									<tr>
										<td><pre>5 10</pre></td>
										<td><pre>Aimmmmm<br>Mojiiiiiiiiii</pre></td>
									</tr>
								</tbody>
							</table>
						</div>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-upload icon-circle icon-xs icon-info"></i> Submission</h3>
				  </div>
				  <div class="panel-body">
		  			<div class="table-responsive">
							<table class="table">
								<tr>
									<td class="text-right" width="110px"><strong>Languages</strong></td>
									<td>
										<span class="label label-default">Python 2</span>
										<span class="label label-default">Python 3</span>
										<span class="label label-default">PHP</span>
										<span class="label label-default">Javascript</span>
										<span class="label label-default">Java</span>
									</td>
								</tr>
								<tr>
									<td class="text-right"><strong>Time limit</strong></td>
									<td>10 seconds</td>
								</tr>
								<tr>
									<td class="text-right"><strong>Memory limit</strong></td>
									<td>32 MB</td>
								</tr>
							</table>
			  		</div>
			  		<form action="{{submission_url}}" enctype="multipart/form-data" method="POST">
							<div class="form-group">
								<input type="file" name="source" class="form-control" required>
							</div>
							<input type="submit" value="Upload" class="btn btn-success btn-block">
						</form>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel">
				  <div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-history icon-circle icon-xs icon-info"></i> Previous Submissions</h3>
				  </div>
				  <div class="panel-body">
				  	<div class="form-group">
							<select class="form-control">
								<optgroup label="Python 2">
									<option value="22">#22 Python 2 at Sep 30, 2014 3:43:21 PM [✔ P-4]</option>
									<option value="11">#11 Python 2 at Sep 29, 2014 10:45:38 PM [✔ P-4]</option>
								</optgroup>
							</select>
						</div>
		  			<dl class="dl-horizontal">
							<dt>Submitted</dt>
							<dd>4 minutes ago</dd>
							<dt >State</dt>
							<dd >In queue</dd>
							<dt>Result</dt>
							<dd>PPPPP</dd>
							<dt>Last error</dt>
							<dd><pre>ValueError</pre></dd>
						</dl>
						<div class="text-center code-download">
							<a class="btn btn-default btn-sm" ng-href="/server/codeload/sub/{{viewsub.id}}">
								<span class="glyphicon glyphicon-download"></span> Download .py
							</a> 
							<a class="btn btn-default btn-sm" ng-href="/server/codeload/sub/{{viewsub.id}}?view=1" target="_blank">
								<span class="glyphicon glyphicon-eye-open"></span> View .py
							</a>
						</div>
						<legend><h5>Legends</h5></legend>
						<span class="label label-success">P</span> Passed | 
						<span class="label label-warning">F</span> Failed | 
						<span class="label label-default">T</span> Timeout | 
						<span class="label label-danger">E</span> Error
					</div>
				</div>
			</div>
		</div>
	</div>
</div>