<div class="table-responsive">
	<table class="table table-striped table-hover table-th-block table-dark">
		<thead>
			<th>Challange Name</th>
			<th>Your Score</th>
			<th>Completed</th>
			<th>Join</th>
			<th>Scoreboard</th>
		</thead>
		<tbody>
			<tr>
				<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, dolorem.</td>
				<td>100</td>
				<td>2/10</td>
				<td><a href="#" class="btn btn-info btn-xs"><i class="fa fa-mail-reply"></i> Join</a></td>
				<td><a href="#" class="btn btn-default btn-xs"><i class="fa fa-bar-chart"></i> Scoreboard</a></td>
			</tr>
			<tr>
				<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, dolorem.</td>
				<td>100</td>
				<td>2/10</td>
				<td><a href="#" class="btn btn-info btn-xs"><i class="fa fa-mail-reply"></i> Join</a></td>
				<td><a href="#" class="btn btn-default btn-xs"><i class="fa fa-bar-chart"></i> Scoreboard</a></td>
			</tr>
			<tr>
				<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, dolorem.</td>
				<td>100</td>
				<td>2/10</td>
				<td><a href="#" class="btn btn-info btn-xs"><i class="fa fa-mail-reply"></i> Join</a></td>
				<td><a href="#" class="btn btn-default btn-xs"><i class="fa fa-bar-chart"></i> Scoreboard</a></td>
			</tr>
			<tr>
				<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, dolorem.</td>
				<td>100</td>
				<td>2/10</td>
				<td><a href="#" class="btn btn-info btn-xs"><i class="fa fa-mail-reply"></i> Join</a></td>
				<td><a href="#" class="btn btn-default btn-xs"><i class="fa fa-bar-chart"></i> Scoreboard</a></td>
			</tr>
		</tbody>
	</table>
</div>