html,body{
	width: 100%;
	height: 100%;
	background: #333;
	color: white;
	font-family: RobotoDraft;
}
a{
	color: #fff;
}
a:hover{
	color: #eee;
	text-decoration: none;
}
.loading{
	height: 100%;
	width: 100%;
	background: #8bc34a;
	color: black;
}
.loading h1{
	font-size: 64pt;
	text-align: center;
	padding-top: 20%;
}
ui-view.ng-enter{
	transition: all ease-out 5000ms;
}
.ng-enter .card{
	animation: card_tween ease-out 500ms;
	-webkit-animation: card_tween ease-out 500ms;
}

@keyframes card_tween {
	from {
		transform: translateY(200px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes card_tween {
	from {
		-webkit-transform: translateY(200px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}


h1{
	margin: 0;
	font-weight: 100;
}
.card{
	background: white;
	padding: 16px;
	border-radius: 5px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	color: black;
}
.card a{
	color: black;
}
.header{
	height: 200px;
	background: #0f9d58;
	box-sizing: border-box;
	padding: 90px 24px 24px 24px;
}
.header .glyphicon{
	color: white;
}
.header h1{
	font-weight: 300;
	color: white;
	font-size: 45pt;
}
.header h3{
	font-weight: normal;
	color: white;
	font-size: 16pt;
	padding-top: 20px;
}
.shadow-1{
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.username{
	color: white;
}
.logoutfrm{
	text-align: right;
	position: relative;
	z-index: 5000;
}
.logoutfrm button, .logoutfrm button:hover{
	color: #efefef;
	text-decoration: none;
}

.login .card{
	margin: -40px auto 20px auto;
	float: none;
}
.circlebtn{
	background: white;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: block;
}

.tests .card{
	margin-left: 35%;
	margin-top: -80px;
	margin-bottom: 48px;
	float: none;
}
.ng-enter .tests{
	opacity: 0;
	transition: all ease-out 250ms;
}
.ng-enter-active .tests{
	opacity: 1;
}

.selector{
	overflow: hidden;
}
.selector .active{
	background: #616161;
}
.card .selector{
	margin: -16px;
}
.selector li{
	padding: 16px;
	cursor: pointer;
}
.selector h4{
	font-size: 13pt;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0;
}
.selector div{
	color: #878787;
	font-size: 10pt;
}
/*.selector .ng-enter{
	transition: all ease-out 500ms;
	margin-left: -100%;
	max-height: 0px;
}
.selector .ng-enter-stagger{
	transition-delay: 100ms;
}
.selector .ng-enter-active{
	margin-left: 0;
	max-height: 400px;
}*/

.problem{
	height: 100%;
	margin-right: 0;
}
.problem .header{
	height: 100px;
	padding: 20px 20px 10px 20px;
	margin-right: -15px;
	margin-left: -15px;
	box-sizing: border-box;
	overflow: hidden;
}
.problem .col-md-9{
	margin: 0;
}
.problem .col-md-9, .problem .col-md-3{
	height: 100%;
	overflow: hidden;
	margin: 0;
}
.problem .col-md-3 .header{
	position: relative;
}
.problem .selector{
	overflow-y: auto;
	overflow-x: auto;
	height: 100%;
	margin-top: -100px;
	margin-right: -15px;
	padding-top: 100px;
}
.problem .selector li{
	height: 64px;
	padding: 0;
	overflow: hidden;
}
.problem .colorbar{
	height: 64px;
	width: 20px;
	float: left;
}
.problem .contents{
	padding-left: 32px;
	padding-top: 10px;
}
.problem .passed .colorbar{
	background: #72d572;
}
.problem .notpassed .colorbar{
	background: #424242;
}
.problem .invalid .colorbar{
	background: #ffca28;
}
.problem h4 a{
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.problem .scroll{
	margin-top: -100px;
	margin-left: -15px;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 100px;
	overflow-y: auto;
	height: 100%;
	position: absolute;
	width: 100%;
}
.problem .card{
	border-radius: 0;
}
.problem [ui-view].ng-enter{
	transition: all ease-out 500ms;
	overflow: hidden;
}

.problem .card h2{
	margin: 0;
	font-weight: normal;
}
.problem .card .credit{
	display: block;
	color: #878787;
	margin-bottom: 14px;
}
.ace_editor{
	height: 400px;
	margin-left: -16px;
	margin-right: -16px;
}