server/vendor
server/composer.lock
server/opauth.php
server/database.php
*.TODO
*.pyc
mock
vagrant/.vagrant
vagrant/modules
vm/graderclient/vendor
vm/graderclient/composer.lock
vm/graderclient/config.php
build
node_modules
.DS_Store
