<!DOCTYPE html>
<html lang="en" ng-app="grader">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="assets/img/favicon.ico">
		<title>Grader</title>

		<!-- MAIN CSS -->
		<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/ndoboost.min.css" rel="stylesheet">
		<link href="assets/css/zocial.css" rel="stylesheet">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.css">
		<link href="assets/css/style.css" rel="stylesheet">
		
		<!-- PLUGINS CSS -->
		<link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="assets/plugins/weather-icon/css/weather-icons.css" rel="stylesheet">
		<link href="assets/plugins/prettify/prettify.css" rel="stylesheet">
		<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
		<link href="assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<nav class="navbar square navbar-primary navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">Grader</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-nav">
					<div ng-if="user.id">
						<form action="/server/logout" method="POST" class="logoutfrm">
							<button type="submit" class="btn-logout btn btn-default navbar-btn btn-sm navbar-right">Logout</button>
						</form>
						<p class="navbar-text navbar-right">
							{{ user.user }}
						</p>
					</div>
					<div ng-if="!user.id">
						<a ui-sref="login" class="btn-logout btn btn-default navbar-btn btn-sm navbar-right">Login</a>
					</div>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="jumbotron bg-dark">
		  <div class="container-fluid">
		    <h1>Hello, world!</h1>
			  <p>Practice makes perfect.</p>
		  </div>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div ui-view>Starting application...</div>
				</div>
				<div class="col-xs-12">
					<footer>
						<p>Footer Area</p>
					</footer>
				</div>
			</div>
		</div>

		<!-- MAIN JAVASRCIPT  -->
		<script src="assets/js/whs/jquery-1.10.2.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

		<script src="assets/js/whs/angular.min.js"></script>
		<script src="assets/js/whs/angular-resource.min.js"></script>
		<script src="assets/js/whs/angular-sanitize.min.js"></script>
		<script src="assets/js/whs/angular-ui-router.min.js"></script>
		<script src="assets/js/whs/showdown.js"></script>
		<script src="assets/js/whs/moment.min.js"></script>
		<script src="assets/js/whs/select2.min.js"></script>
		<script src="assets/js/whs/angular-moment.js"></script>
		<script src="assets/js/whs/angular.select2.js"></script>
		<script src="assets/js/whs/markdown.js"></script>
		<script src="assets/js/whs/controllers.js"></script>

		<!-- PLUGINS AND NDOBOOST JS-->
		<script src="assets/plugins/prettify/prettify.js"></script>
		<script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="assets/plugins/owl-carousel/owl.carousel.js"></script>
		<script src="assets/js/ndoboost.min.js"></script>
	</body>
</html>