<div class="col-xs-12">
	<div class="text-center">
		<h2 class="form-signin-heading">Sign in</h2>
		<small class="text-muted">Sign in with your social network account.</small>
		<br><br>
		<p>
			<a class="btn btn-primary social-login-btn social-facebook" href="/server/auth/facebook"><i class="fa fa-facebook"></i></a>
			<a class="btn btn-primary social-login-btn social-twitter" href="/server/auth/twitter"><i class="fa fa-twitter"></i></a>
			<a class="btn btn-primary social-login-btn social-google" href="/server/auth/google"><i class="fa fa-google-plus"></i></a>
		</p>
	</div>
</div>