<div class="problem row">
	<div class="col-md-3 col-xs-3">
		<div class="header shadow-1">
			<div class="container">
				<h3>
					<a ui-sref="tests()" href="#" class="btn btn-link">
						<i class="glyphicon glyphicon-arrow-left"></i>
					</a>
					{{test.name}}
				</h3>
			</div>
		</div>
		<ul class="selector list-unstyled">
			<li ng-repeat="problem in problems" ng-class="{passed: problem.passed, notpassed: !problem.passed}" ui-sref="problem.problem({problem: problem.id})" ui-sref-active="active">
				<div class="colorbar"></div>
				<div class="contents">
					<h4>
						<a href="#" ui-sref="problem.problem({problem: problem.id})">{{problem.name}}</a>
					</h4>
					<div ng-if="stats"><strong>Global:</strong> {{stats[problem.id].attempt|number}} attempts, {{stats[problem.id].passed|number}} passed ({{stats[problem.id].percent|number:0}}%)</div>
				</div>
				<div class="clear"></div>
			</li>
		</ul>
	</div>
	<div class="col-md-9 col-xs-9">
		<div class="header shadow-1">
			<div class="pull-right username">
				Logged in as {{user.user.user}}
				<form action="/server/logout" method="POST" class="logoutfrm"><button type="submit" class="btn-link">Logout</button></form>
			</div>
		</div>
		<div class="scroll" ui-view>
		</div>
	</div>
</div>